body{background-color: rgb(73, 158, 158);}
h2{ background-color:rgb(212, 0, 255); color: black ;}
form{ background-color:rgb(122, 92, 205);}
a{color: blue;}
input {color:darkblue; background-color: cornflowerblue;}